.wrapper {
  background-color: #CAEDEF;

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 30px;
  }

  .inputs-block {
    width: 350px;
    margin: auto;

    span {
      width: 100%;
      font-size: 14px;
    }

    input {
      width: 100%;
      box-sizing: border-box;
      padding: 5px 20px;
      margin-bottom: 5px;
      background: #3C8084;
      border: none;
      height: 40px;
      color: #fff;
    }

    .password_tip {
      padding-top: 20px;
      padding-bottom: 5px;
      font-size: 14px;
      opacity: 0.7;
    }
  }

  .button-save {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;

    button {
      padding: 12px 25px;
      border: none;
      background: #1e6367;
      color: #fff;
      border-radius: 10px;

      &:hover {
        cursor: pointer;
        background: #428e92;
      }
    }
  }
}
