.wrapper {

  .profile-block {
    width: 500px;

    .photo {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100px;
      width: 100px;
      cursor: pointer;
      border: 1px solid #000;
      border-radius: 50%;
      margin: auto;
      margin-bottom: 30px;
    }

    .buttons-block {
      display: flex;
      justify-content: space-between;
      padding-top: 25px;
    }
  }
}
