$bodyTextColor: #1e1e1e;
$bodyBgColor: #fff;

$formBorderColor: #ccc;
$formLabelColor: #999;
$formInputBorderColor: #3369f3;
$formButtonTextColor: #fff;
$formButtonBgColor: #3369f3;
$formButtonBgHoverColor: #5982e9;
$formButtonBgDisabledColor: #7e9ff3;
$formLinkColor: #3369f3;
$formLinkWarnColor: #ff0000;
$formPanelBgColor: #fbfbfb;

$chatsContactBgColor: #e4edfd;
$chatsSearchTextColor: #887575;
$chatsSearchBgColor: #efefef;

$errorTextColor: #ff2f2f;
