.wrapper {
  display: flex;

  .list {
    width: 300px;
    background-color: #fbfbfb;
    border-right: 1px solid #ccc;
    box-sizing: border-box;

    .search-wrapper {
      display: flex;
      padding: 20px 10px;
      flex-direction: column;

      .profile-menu {
        cursor: pointer;
        text-align: right;
        margin-bottom: 20px;
        color: #887575;
        font-size: 12px;
      }

      .search {
        padding: 5px;
        border: none;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
        background-color: #efefef;
        text-align: center;
        outline: none;
      }
    }

    .contact {
      cursor: pointer;

      &:hover {
        background-color: #e4edfd;
      }

      .content {
        border-top: 1px solid #ccc;
        margin: 0 10px;
        padding: 20px 10px;
      }
    }
  }

  .messages {
    width: 100%;
    background: initial;

    .messages-list {
      height: calc(100vh - 40px);

      .messages-place {
        text-align: center;
        width: 330px;
        font-size: 18px;
      }
    }

    .message-input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      height: 40px;
      padding: 0 14px;
    }
  }
}
